name: Release BBF Toolbox

on:
    workflow_dispatch:

jobs:
    build:
        name: Build (${{ matrix.os }})
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                include:
                    - os: ubuntu-latest
                      target: x86_64-unknown-linux-gnu

                    - os: ubuntu-latest
                      target: aarch64-unknown-linux-gnu

                    - os: macos-14 # Apple Silicon (ARM64)
                      target: aarch64-apple-darwin

                    - os: windows-latest
                      target: x86_64-pc-windows-msvc

        steps:
            - name: Checkout repository (with submodules)
              uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                  targets: ${{ matrix.target }}

            - name: Build
              run: cargo build --release --target ${{ matrix.target }} --manifest-path beacon-binary-format-toolbox/Cargo.toml

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: bbf-toolbox-${{ matrix.target }}
                  path: beacon-binary-format-toolbox/target/${{ matrix.target }}/release/
