name: "Release Build"

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  packages: write
  contents: write

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/beacon

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            arch: amd64
            runner: ubuntu-24.04
          - platform: linux/arm64
            arch: arm64
            runner: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Log version tag
        run: |
          echo "Building release version: ${{ env.VERSION }}"

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          platforms: ${{ matrix.platform }}
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.VERSION }}-${{ matrix.arch }}
            ${{ env.IMAGE_NAME }}:latest-${{ matrix.arch }}

  manifest:
    name: Create multi-arch manifest
    needs: build
    runs-on: ubuntu-24.04

    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and push manifest
        run: |
          docker manifest create \
            ${{ env.IMAGE_NAME }}:${VERSION} \
            ${{ env.IMAGE_NAME }}:${VERSION}-amd64 \
            ${{ env.IMAGE_NAME }}:${VERSION}-arm64

          docker manifest push \
            ${{ env.IMAGE_NAME }}:${VERSION}

      - name: Update latest tag
        run: |
          docker manifest create \
            ${{ env.IMAGE_NAME }}:latest \
            ${{ env.IMAGE_NAME }}:${VERSION}-amd64 \
            ${{ env.IMAGE_NAME }}:${VERSION}-arm64

          docker manifest push \
            ${{ env.IMAGE_NAME }}:latest
